- Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [3]:
import numpy as np
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
df = pd.read_excel('DelayedFlightsconstanza1.xlsx')
df

,Column1,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,20030,1955,22110.0,2225,WN,...,40.0,80,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,7540,735,10020.0,1000,WN,...,50.0,100,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,6280,620,8040.0,750,WN,...,30.0,170,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,18290,1755,19590.0,1925,WN,...,30.0,100,0,N,0,20.0,0.0,0.0,0.0,320.0
4,5,2008,1,3,4,19400,1915,21210.0,2110,WN,...,40.0,100,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,645668,2008,2,14,4,11580,1120,13260.0,1240,WN,...,80.0,140,0,N,0,0.0,0.0,80.0,0.0,380.0
199995,645671,2008,2,14,4,21430,2125,23030.0,2245,WN,...,50.0,70,0,N,0,0.0,0.0,0.0,0.0,180.0
199996,645672,2008,2,14,4,14480,1440,17010.0,1650,WN,...,50.0,150,0,N,0,NaN,NaN,NaN,NaN,NaN
199997,645674,2008,2,14,4,18530,1825,21020.0,2035,WN,...,50.0,80,0,N,0,0.0,0.0,0.0,0.0,270.0
199998,645676,2008,2,14,4,16420,1635,19060.0,1845,WN,...,40.0,260,0,N,0,0.0,0.0,140.0,0.0,70.0

In [7]:
df_final = df.round(1)
df_final

,Column1,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,20030,1955,22110.0,2225,WN,...,40.0,80,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,7540,735,10020.0,1000,WN,...,50.0,100,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,6280,620,8040.0,750,WN,...,30.0,170,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,18290,1755,19590.0,1925,WN,...,30.0,100,0,N,0,20.0,0.0,0.0,0.0,320.0
4,5,2008,1,3,4,19400,1915,21210.0,2110,WN,...,40.0,100,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,645668,2008,2,14,4,11580,1120,13260.0,1240,WN,...,80.0,140,0,N,0,0.0,0.0,80.0,0.0,380.0
199995,645671,2008,2,14,4,21430,2125,23030.0,2245,WN,...,50.0,70,0,N,0,0.0,0.0,0.0,0.0,180.0
199996,645672,2008,2,14,4,14480,1440,17010.0,1650,WN,...,50.0,150,0,N,0,NaN,NaN,NaN,NaN,NaN
199997,645674,2008,2,14,4,18530,1825,21020.0,2035,WN,...,50.0,80,0,N,0,0.0,0.0,0.0,0.0,270.0
199998,645676,2008,2,14,4,16420,1635,19060.0,1845,WN,...,40.0,260,0,N,0,0.0,0.0,140.0,0.0,70.0

- Exercici 2
Fes un informe complet del dataset:
o	Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
o	Troba quantes dades faltants hi ha per columna.
o	Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
o	Fes una taula de les aerolínies amb més endarreriments acumulats.
o	Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
o	Aporta allò que consideris rellevant.

In [9]:
df_final[df_final['LateAircraftDelay'] > 0]

,Column1,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,18290,1755,19590.0,1925,WN,...,30.0,100,0,N,0,20.0,0.0,0.0,0.0,320.0
5,6,2008,1,3,4,19370,1830,20370.0,1940,WN,...,30.0,70,0,N,0,100.0,0.0,0.0,0.0,470.0
7,11,2008,1,3,4,16440,1510,18450.0,1725,WN,...,60.0,80,0,N,0,80.0,0.0,0.0,0.0,720.0
9,16,2008,1,3,4,14520,1425,16400.0,1625,WN,...,70.0,80,0,N,0,30.0,0.0,0.0,0.0,120.0
11,18,2008,1,3,4,13230,1255,15260.0,1510,WN,...,40.0,90,0,N,0,0.0,0.0,0.0,0.0,160.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199992,645666,2008,2,14,4,16570,1640,18340.0,1805,WN,...,50.0,230,0,N,0,0.0,0.0,120.0,0.0,170.0
199994,645668,2008,2,14,4,11580,1120,13260.0,1240,WN,...,80.0,140,0,N,0,0.0,0.0,80.0,0.0,380.0
199995,645671,2008,2,14,4,21430,2125,23030.0,2245,WN,...,50.0,70,0,N,0,0.0,0.0,0.0,0.0,180.0
199997,645674,2008,2,14,4,18530,1825,21020.0,2035,WN,...,50.0,80,0,N,0,0.0,0.0,0.0,0.0,270.0
199998,645676,2008,2,14,4,16420,1635,19060.0,1845,WN,...,40.0,260,0,N,0,0.0,0.0,140.0,0.0,70.0

In [10]:
df_final.columns

Index(['Column1', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

o	Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('DelayedFlightsconstanza1.xlsx')
df

,Column1,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,20030,1955,22110.0,2225,WN,...,40.0,80,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,7540,735,10020.0,1000,WN,...,50.0,100,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,6280,620,8040.0,750,WN,...,30.0,170,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,18290,1755,19590.0,1925,WN,...,30.0,100,0,N,0,20.0,0.0,0.0,0.0,320.0
4,5,2008,1,3,4,19400,1915,21210.0,2110,WN,...,40.0,100,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,645668,2008,2,14,4,11580,1120,13260.0,1240,WN,...,80.0,140,0,N,0,0.0,0.0,80.0,0.0,380.0
199995,645671,2008,2,14,4,21430,2125,23030.0,2245,WN,...,50.0,70,0,N,0,0.0,0.0,0.0,0.0,180.0
199996,645672,2008,2,14,4,14480,1440,17010.0,1650,WN,...,50.0,150,0,N,0,NaN,NaN,NaN,NaN,NaN
199997,645674,2008,2,14,4,18530,1825,21020.0,2035,WN,...,50.0,80,0,N,0,0.0,0.0,0.0,0.0,270.0
199998,645676,2008,2,14,4,16420,1635,19060.0,1845,WN,...,40.0,260,0,N,0,0.0,0.0,140.0,0.0,70.0

o Explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. 
Justifica la teva elecció: La base de datos se llama "Airlines delay", por lo tanto el enfoque debe dirigirse a analizar los retrasos en los vuelos y si hay variables que pueden afectar en dichos retrasos. Considero que es irrelevante la información que aporta la columnas que descarto debajo ya que son datos no son fundentales para el análisis de la demora de vuelos. He mantenido las columnas que contienen información que sí pueden afectar al resultado. Las variables que considero que deben mantenerse son: el año, el mes, el día y fecha, demora de salida y llegada, la distancia del recorrido, (origen)lugar de despegue y (destino)lugar de aterrizaje.

In [11]:
df_final = df.drop(columns = ['TailNum', 'TaxiIn','TaxiOut', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime','CRSElapsedTime'
, 'AirTime','Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay'

])
df_final.head()

,Column1,Year,Month,DayofMonth,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,LateAircraftDelay
0,0,2008,1,3,WN,335,1280.0,-140.0,80,IAD,TPA,810,NaN
1,1,2008,1,3,WN,3231,1280.0,20.0,190,IAD,TPA,810,NaN
2,2,2008,1,3,WN,448,960.0,140.0,80,IND,BWI,515,NaN
3,4,2008,1,3,WN,3920,900.0,340.0,340,IND,BWI,515,320.0
4,5,2008,1,3,WN,378,1010.0,110.0,250,IND,JAX,688,NaN

- Resumeix estadísticament el dataset

In [12]:
df_final.describe()

,Column1,Year,Month,DayofMonth,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Distance,LateAircraftDelay
count,199999.000000,199999.0,199999.000000,199999.000000,199999.000000,199180.000000,199180.000000,199999.000000,199999.000000,130749.000000
mean,323759.908780,2008.0,1.082360,14.589993,2239.520738,1302.996887,424.618586,434.098570,741.803234,265.786430
std,189898.011043,0.0,0.274914,9.390707,1942.374352,701.404028,556.370871,519.462203,557.321938,423.197137
min,0.000000,2008.0,1.000000,1.000000,1.000000,190.000000,-670.000000,60.000000,24.000000,0.000000
25%,162966.500000,2008.0,1.000000,6.000000,642.000000,790.000000,90.000000,120.000000,336.000000,0.000000
50%,321521.000000,2008.0,1.000000,14.000000,1568.000000,1130.000000,250.000000,250.000000,590.000000,110.000000
75%,491014.500000,2008.0,1.000000,23.000000,3662.000000,1610.000000,560.000000,540.000000,978.000000,350.000000
max,645676.000000,2008.0,2.000000,31.000000,9002.000000,6930.000000,15250.000000,13550.000000,4962.000000,8970.000000

o	Troba quantes dades faltants hi ha per columna.

In [13]:
df_final

,Column1,Year,Month,DayofMonth,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,LateAircraftDelay
0,0,2008,1,3,WN,335,1280.0,-140.0,80,IAD,TPA,810,NaN
1,1,2008,1,3,WN,3231,1280.0,20.0,190,IAD,TPA,810,NaN
2,2,2008,1,3,WN,448,960.0,140.0,80,IND,BWI,515,NaN
3,4,2008,1,3,WN,3920,900.0,340.0,340,IND,BWI,515,320.0
4,5,2008,1,3,WN,378,1010.0,110.0,250,IND,JAX,688,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,645668,2008,2,14,WN,1582,880.0,460.0,380,SNA,OAK,371,380.0
199995,645671,2008,2,14,WN,3858,800.0,180.0,180,SNA,OAK,371,180.0
199996,645672,2008,2,14,WN,482,730.0,110.0,80,SNA,PHX,338,NaN
199997,645674,2008,2,14,WN,536,690.0,270.0,280,SNA,PHX,338,270.0
199998,645676,2008,2,14,WN,1865,840.0,210.0,70,SNA,PHX,338,70.0

In [14]:
df_final.isnull().sum() # Dades faltants hi ha per columna o Valores nulos:

Column1                  0
Year                     0
Month                    0
DayofMonth               0
UniqueCarrier            0
FlightNum                0
ActualElapsedTime      819
ArrDelay               819
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
LateAircraftDelay    69250
dtype: int64

o	Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

In [15]:
df_final['VelocitatMitjana']= df_final['Distance'] / df_final['ActualElapsedTime']
df_final.head()
#La velocidad media de un objeto se define como la distancia recorrida dividida por el tiempo transcurrido.

,Column1,Year,Month,DayofMonth,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,LateAircraftDelay,VelocitatMitjana
0,0,2008,1,3,WN,335,1280.0,-140.0,80,IAD,TPA,810,NaN,0.632812
1,1,2008,1,3,WN,3231,1280.0,20.0,190,IAD,TPA,810,NaN,0.632812
2,2,2008,1,3,WN,448,960.0,140.0,80,IND,BWI,515,NaN,0.536458
3,4,2008,1,3,WN,3920,900.0,340.0,340,IND,BWI,515,320.0,0.572222
4,5,2008,1,3,WN,378,1010.0,110.0,250,IND,JAX,688,NaN,0.681188

o Fes una taula de les aerolínies amb més endarreriments acumulats. 
o Quins són els vols més llargs? I els més endarrerits?
o Busca les rutes més llargues i les que acumulen més retards.

In [16]:
pivot = pd.pivot_table(df_final, index = ['UniqueCarrier'], values = ['LateAircraftDelay'], columns = ['Origin', 'Dest'], aggfunc = 'count')
pivot.fillna('0', inplace = True)
print(pivot)
# Taula de les aerolínies amb més endarreriments acumulats.

              LateAircraftDelay                                              \
Origin                      ABE                              ABI   ABQ
Dest                        ATL  CLE  CVG   DTW  JFK   ORD   DFW   AMA  ATL
UniqueCarrier
9E                            0    0    0  14.0    0     0     0     0    0
AA                            0    0    0     0    0     0     0     0    0
AQ                            0    0    0     0    0     0     0     0    0
AS                            0    0    0     0    0     0     0     0    0
B6                            0    0    0     0    0     0     0     0    0
CO                            0    0    0     0    0     0     0     0    0
DL                            0    0    0     0    0     0     0     0  4.0
EV                          9.0    0    0     0    0     0     0     0    0
F9                            0    0    0     0    0     0     0     0    0
FL                            0    0    0     0    0     0     0     0    0
HA                            0    0    0     0    0     0     0     0    0
MQ                            0    0    0     0    0     0  35.0     0    0
NW                            0    0    0     0    0     0     0     0    0
OH                          3.0    0  2.0     0  1.0     0     0     0    0
OO                            0    0    0     0    0   1.0     0     0    0
UA                            0    0    0     0    0     0     0     0    0
US                            0    0    0     0    0     0     0     0    0
WN                            0    0    0     0    0     0     0  18.0    0
XE                            0  6.0    0     0    0     0     0     0    0
YV                            0    0    0     0    0  32.0     0     0    0

                    ...
Origin              ...   XNA        YAK       YKM  YUM
Dest           AUS  ...   ORD  RDU   CDV  JNU  SLC  IPL  LAS   LAX   PHX   SLC
UniqueCarrier       ...
9E               0  ...     0    0     0    0    0    0    0     0     0     0
AA               0  ...     0    0     0    0    0    0    0     0     0     0
AQ               0  ...     0    0     0    0    0    0    0     0     0     0
AS               0  ...     0    0  11.0  7.0    0    0    0     0     0     0
B6               0  ...     0    0     0    0    0    0    0     0     0     0
CO               0  ...     0    0     0    0    0    0    0     0     0     0
DL               0  ...     0    0     0    0    0    0    0     0     0     0
EV               0  ...     0    0     0    0    0    0    0     0     0     0
F9               0  ...     0    0     0    0    0    0    0     0     0     0
FL               0  ...     0    0     0    0    0    0    0     0     0     0
HA               0  ...     0    0     0    0    0    0    0     0     0     0
MQ               0  ...  54.0  4.0     0    0    0    0    0     0     0     0
NW               0  ...     0    0     0    0    0    0    0     0     0     0
OH               0  ...     0    0     0    0    0    0    0     0     0     0
OO               0  ...  27.0    0     0    0  3.0  9.0    0  12.0     0  11.0
UA               0  ...     0    0     0    0    0    0    0     0     0     0
US               0  ...     0    0     0    0    0    0    0     0     0     0
WN               0  ...     0    0     0    0    0    0    0     0     0     0
XE             2.0  ...     0    0     0    0    0    0    0     0     0     0
YV               0  ...     0    0     0    0    0    0  5.0     0  24.0     0

[20 rows x 4575 columns]

In [17]:
pivot = pd.pivot_table(df_final, index = ['Origin', 'Dest'], values = ['LateAircraftDelay'], columns = ['UniqueCarrier'], aggfunc = 'count')
pivot.fillna('0', inplace = True)
print(pivot)
# Vols endarrerits segon Origin i Desti

              LateAircraftDelay                                             \
UniqueCarrier                9E AA AQ AS B6 CO DL   EV F9 FL HA MQ NW   OH
Origin Dest
ABE    ATL                    0  0  0  0  0  0  0  9.0  0  0  0  0  0  3.0
       CLE                    0  0  0  0  0  0  0    0  0  0  0  0  0    0
       CVG                    0  0  0  0  0  0  0    0  0  0  0  0  0  2.0
       DTW                 14.0  0  0  0  0  0  0    0  0  0  0  0  0    0
       JFK                    0  0  0  0  0  0  0    0  0  0  0  0  0  1.0
...                         ... .. .. .. .. .. ..  ... .. .. .. .. ..  ...
YUM    IPL                    0  0  0  0  0  0  0    0  0  0  0  0  0    0
       LAS                    0  0  0  0  0  0  0    0  0  0  0  0  0    0
       LAX                    0  0  0  0  0  0  0    0  0  0  0  0  0    0
       PHX                    0  0  0  0  0  0  0    0  0  0  0  0  0    0
       SLC                    0  0  0  0  0  0  0    0  0  0  0  0  0    0


UniqueCarrier    OO UA US WN   XE    YV
Origin Dest
ABE    ATL        0  0  0  0    0     0
       CLE        0  0  0  0  6.0     0
       CVG        0  0  0  0    0     0
       DTW        0  0  0  0    0     0
       JFK        0  0  0  0    0     0
...             ... .. .. ..  ...   ...
YUM    IPL      9.0  0  0  0    0     0
       LAS        0  0  0  0    0   5.0
       LAX     12.0  0  0  0    0     0
       PHX        0  0  0  0    0  24.0
       SLC     11.0  0  0  0    0     0

[4575 rows x 20 columns]

In [18]:
df_final

,Column1,Year,Month,DayofMonth,UniqueCarrier,FlightNum,ActualElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,LateAircraftDelay,VelocitatMitjana
0,0,2008,1,3,WN,335,1280.0,-140.0,80,IAD,TPA,810,NaN,0.632812
1,1,2008,1,3,WN,3231,1280.0,20.0,190,IAD,TPA,810,NaN,0.632812
2,2,2008,1,3,WN,448,960.0,140.0,80,IND,BWI,515,NaN,0.536458
3,4,2008,1,3,WN,3920,900.0,340.0,340,IND,BWI,515,320.0,0.572222
4,5,2008,1,3,WN,378,1010.0,110.0,250,IND,JAX,688,NaN,0.681188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,645668,2008,2,14,WN,1582,880.0,460.0,380,SNA,OAK,371,380.0,0.421591
199995,645671,2008,2,14,WN,3858,800.0,180.0,180,SNA,OAK,371,180.0,0.463750
199996,645672,2008,2,14,WN,482,730.0,110.0,80,SNA,PHX,338,NaN,0.463014
199997,645674,2008,2,14,WN,536,690.0,270.0,280,SNA,PHX,338,270.0,0.489855
199998,645676,2008,2,14,WN,1865,840.0,210.0,70,SNA,PHX,338,70.0,0.402381

In [ ]:
df_final.to_excel()

In [38]:
df_vuelos.groupby("UniqueCarrier").agg({
    "LateAircraftDelay": "max"
})

               LateAircraftDelay
UniqueCarrier
9E                        3840.0
AA                        4470.0
AQ                        2690.0
AS                        4110.0
B6                        3130.0
CO                        4780.0
DL                        3800.0
EV                        2390.0
F9                        3440.0
FL                        4980.0
HA                        3520.0
MQ                        3950.0
NW                        8970.0
OH                        3650.0
OO                        4840.0
UA                        7990.0
US                        4170.0
WN                        4550.0
XE                        4160.0
YV                        4390.0

In [25]:
df_final.to_excel ('Retraso_vuelos_analisis1.xlsx', index=False)

In [22]:
pwd

'C:\\Users\\flore\\IT Academy\\Data Science\\Sprint 3'